.abook/
.aws/
.ansible/
.aspnet/
bin/bbmp
bin/jai
bin/lld-linux
bin/sk
.cache/
.cargo/
.config/autostart/
.config/drkobushi/
.config/BraveSoftware/
.config/GIMP/
.config/Perimeter81/
.config/Slippi Launcher/
.config/SlippiOnline/
.config/beets/library.blb
.config/beets/state.pickle
.config/cef_user_data/
.config/chromium/
.config/configstore/
.config/dconf/
.config/discord/
.config/fontforge/
.config/htop/
.config/kak/autoload/autoload
.config/kak/plugins/
.config/jellyfin-mpv-shim/
.config/google-chrome/
.config/gtk-2.0/
.config/htop/
.config/kak/autoload/autoload
.config/kak/plugins/
.config/jellyfin*
.config/.jira
.config/lazygit/state.yml
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/playlists/
.config/mpd/state
.config/mpd/sticker.sql
.config/msmtp/
.config/mutt/
.config/pavucontrol.ini
.config/pulse/
.config/spotify/
.config/wenv/
.config/zsh/.zcompdump
.config/zsh/secrets
.config/zsh/history
.gitconfig
.gnupg/
.local/
.mbsyncrc
.mpdasrc
.msmtprc
.notmuch-config
.password-store/
.pki/
.python_history
.rtorrent_session/
.ssh/
.urlview
.wget-hsts
.Xauthority
.config/newsboat/urls
.config/pavucontrol.ini
.config/rtorrent
.config/pulse/
.config/Slack/
.config/spotify/
.config/sv/enabled
.config/wenv/
.config/VirtualBox/
.config/zoom.conf
.config/zoomus.conf
.config/zsh/.zcompdump
.config/zsh/history
.config/sv/**/pid
.config/sv/**/stat
.config/sv/**/status
.config/Unknown\ Organization/
.bash*
.dbus
.docker
.lesshst
.gitconfig
.go
.gnupg/
.kube/
.local/
.mbsyncrc
.minikube/
.mongodb
.mpdascache
.mozilla
.mpdasrc
.msmtprc
.npm/
.notmuch-config
.password-store/
.pulse-cookie
.pki/
.python_history
.rtorrent_session/
.steam*
.sqlite_history
.ssh/
.urlview
.wget-hsts
.x2go*
.Xauthority
.yarn*
.zoom
downloads/
media/
personal/
scratch/
src/
.config/GIMP/2.10
.config/Slack
.config/cef_user_data
.config/gtk-2.0
.config/obs-studio
.config/QtProject.conf
.config/mimeapps.list
.config/zoom.conf
.config/zoomus.conf
.java/fonts/20.0.1
.minecraft
.npm
.steam
.zoom
Slippi
.pulse-cookie
.steampath
.steampid
.viminfo
.config/dolphin-emu/DSUClient.ini
.config/dolphin-emu/Debugger.ini
.config/dolphin-emu/Dolphin.ini
.config/dolphin-emu/FreeLook.ini
.config/dolphin-emu/FreeLookController.ini
.config/dolphin-emu/GBA.ini
.config/dolphin-emu/GCKeyNew.ini
.config/dolphin-emu/GCPadNew.ini
.config/dolphin-emu/GFX.ini
.config/dolphin-emu/Logger.ini
.config/dolphin-emu/Qt.ini
.config/dolphin-emu/WiimoteNew.ini

.aws/
.claude/
/.config/Chiaki/Chiaki.conf
/.config/Code - OSS/

/.config/Fightcade/
/.config/GIMP/
/.config/Jackbox Games/
/.config/MonoGame/
/.config/Perimeter81/
/.config/SlippiPlayback/Config/GFX.ini
/.config/SlippiPlayback/Config/Logger.ini
/.config/SlippiPlayback/GC/
/.config/SlippiPlayback/Logs/
/.config/SlippiPlayback/Wii/
/.config/SlippiPlayback/ishiiruka
/.config/Unknown Organization/
/.config/VirtualBox/
/.config/autostart/
/.config/calibre/
/.config/discord-flags.conf
/.config/easytag/
/.config/expressvpn/
/.config/fossil.db
/.config/git/
/.config/go/
/.config/kak/autoload/templ.kak
/.config/kwalletrc
/.config/lf/lfrc.bak
/.config/lnav/
/.config/millennium/
/.config/redshift/
/.config/stellar/
/.config/systemd/user/fossil.service
/.config/systemd/user/multi-user.target.wants/
/.config/unity3d/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/vlc/
/.config/zsh/.zcompcache/

.docker/
.dotnet/
.espressif/
.fcuid
.fightcade2/
.gdbinit
.go/
.hdl_dump.conf
.java/
.kube/
.lldb/
.minikube/
.mono/
.mozilla/
.nuget/
.ollama/
.otclient/
.psql_history
.sqlite_history
.vagrant.d/
.vcpkg/
.vim/
.vscode-oss-shared/
.vscode-oss/
.wine/
.yarnrc
VirtualBox VMs/
bin/bbmp-debug
bin/caps-to-ctrl
bin/steam
bin/stellar
/.config/dlv/.dbg_history
/.config/bbmp/playlists
.config/QtProject.conf
.config/Trolltech.conf
.java/fonts/20.0.1
.minecraft
/Downloads/stardust
/.zcompdump
/Downloads
/.claude
/.claude.json
/.config/stellar
/.config/fossil.db
/.nix-profile
/bin/stellar
/.config/go/telemetry/local
