.abook/
.aws/
.ansible/
.aspnet/
bin/bbmp
bin/jai
bin/lld-linux
bin/sk
.cache/
.cargo/
.config/autostart/
.config/drkobushi/
.config/BraveSoftware/
.config/GIMP/
.config/Perimeter81/
.config/Slippi Launcher/
.config/SlippiOnline/
.config/beets/library.blb
.config/beets/state.pickle
.config/cef_user_data/
.config/chromium/
.config/configstore/
.config/dconf/
.config/discord/
.config/fontforge/
.config/gtk-2.0/
.config/htop/
.config/kak/autoload/autoload
.config/kak/plugins/
.config/jellyfin*
.config/.jira
.config/lazygit/state.yml
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/playlists/
.config/mpd/state
.config/mpd/sticker.sql
.config/msmtp/
.config/mutt/
.config/newsboat/urls
.config/pavucontrol.ini
.config/rtorrent
.config/pulse/
.config/Slack/
.config/spotify/
.config/sv/enabled
.config/wenv/
.config/VirtualBox/
.config/zoomus.conf
.config/zsh/.zcompdump
.config/zsh/history
.config/sv/**/pid
.config/sv/**/stat
.config/sv/**/status
.config/Unknown\ Organization/
.bash*
.dbus
.docker
.lesshst
.gitconfig
.go
.gnupg/
.kube/
.local/
.mbsyncrc
.mongodb
.mpdascache
.mozilla
.mpdasrc
.msmtprc
.npm/
.notmuch-config
.password-store/
.pulse-cookie
.pki/
.python_history
.rtorrent_session/
.steam*
.sqlite_history
.ssh/
.urlview
.wget-hsts
.x2go*
.Xauthority
.yarn*
.zoom
downloads/
media/
personal/
scratch/
src/
